* {
    margin: 0;
}

.paragraph-section {
    margin-bottom: 120px;
}

#frame {
    z-index: 3;
    position: fixed;
    height: calc(100vh - 136px);
    width: calc(100vw - 136px);
    top: 68px;
    left: 68px;
    border: 1px solid #ddd;
    background-color: #eee;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#glassContainer {
    position: fixed;
    z-index: 2;
    height: calc(100vh - 136px);
    width: calc(100vw - 136px);
    top: 68px;
    left: 68px;
    mix-blend-mode: multiply;
}

#pageContent {
    z-index: 3;
    position: absolute;
    height: calc(100vh - 136px);
    width: calc(100vw - 136px);
    top: 68px;
    left: 68px;
    overflow-y: visible;
    color: #bbb;
    mix-blend-mode: difference;
}

#page {
    overflow-y: scroll;
}

.experience {
    margin-bottom: 32px;
}

.experience .period {
    color: #999;
    line-height: 2;
}

.experience .skills {
    display: flex;
    gap: 4px;
    margin-top: 12px;
}